<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="bachelorapp.fi.muni.cz.whitebalanceapp" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <protected-broadcast android:name="android.intent.action.MEDIA_MOUNTED"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light" >
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:clearTaskOnLaunch="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.NoTitle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>
        </activity>

        <activity
            android:name=".mainActivityTransparent.MainActivityTransparent1"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.NoTitle.Translucent">
            <intent-filter>
                <action android:name="android.intent.action.MAINA" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".mainActivityTransparent.MainActivityTransparent2"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.NoTitle.Translucent">
            <intent-filter>
                <action android:name="android.intent.action.MAINB" />

                <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>


        <activity
            android:name=".ConvertedPhotos"
            android:screenOrientation="portrait"
            android:clearTaskOnLaunch="true"
            android:parentActivityName="MainActivity">
        <!-- Parent activity meta-data to support 4.0 and lower -->
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".MainActivity" />
        </activity>

        <activity
            android:name=".convertedPhotosTransparent.ConvertedPhotosTransparent1"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.NoTitle.Translucent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN2" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".convertedPhotosTransparent.ConvertedPhotosTransparent2"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.NoTitle.Translucent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN3" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".convertedPhotosTransparent.ConvertedPhotosTransparent2b"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.NoTitle.Translucent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN2b" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".convertedPhotosTransparent.ConvertedPhotosTransparent3"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.NoTitle.Translucent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN4" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".convertedPhotosTransparent.ConvertedPhotosTransparent4"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.NoTitle.Translucent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN5" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


    </application>

</manifest>
